<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Hello</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<h1 th:text="${message}"></h1>

<!-- 调用 Spring Boot API -->
<button onclick="loadData()">调用API</button>
<div id="result"></div>

<script>
    function loadData() {
        axios.get('/api/loginParams')
            .then(res => {
                let wecomData = res.data.data;
                let {
                    agentId,
                    corpId,
                    redirectUrl
                } = wecomData;

                const redirectUri = encodeURIComponent("http://zenblob-wecom.xinhub.cn/wecom/login");
                window.location.href = `https://login.work.weixin.qq.com/wwlogin/sso/login?appid=${corpId}&redirect_uri=${redirectUri}&agentid=${agentId}`
            });
    }
</script>
</body>
</html>
